<div class="col-xs-12 col-md-8 col-md-offset-2">
  <h1 class="text-center">This is an API Console</h1>
  <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Submit</button>
      </span>
    </div>
</div>
