<div class="col-xs-12 col-md-6 col-md-offset-3">
  <h1 class="text-center"><b>Applications</b></h1>
  <div class="list-group">
    {{#each app in model}}
      {{#link-to "app" app tagName="div" class="list-group-item clickable"}}
        <div class="row">
          <span class="col-xs-6">{{#link-to "app" app}}{{app.title}}{{/link-to}}</span>
          <div class="col-xs-6">
            <h5><b>Environments:</b></h5>
            <ul class="list-unstyled">
            {{#each env in app.environments}}
              <li>{{#link-to "environment" env}}{{env.title}}{{/link-to}}</li>
            {{/each}}
            </ul>
          </div>
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>