<div class="col-xs-12 col-md-8 col-md-offset-2">
  <h1 class="text-center">Files Go Here</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>download_link</th>
        <th>_id</th>
        <th>_acl</th>
        <th>_kmd</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>