<div class="col-xs-12 col-md-8 col-md-offset-2">
  <h1 class="text-center" style="display: inline-block;">Push Some Data to Your Users!</h1>
  {{#link-to 'push-configure' model class="btn btn-primary pull-right"}}Configure{{/link-to}}
  <div class="row">
    <div class="col-xs-4">
      <li class="feature">
        <h4 class="feature-subhead">Powerful querying</h4>
        <p class="feature-description">
          Targeted messaging allows you to find the perfect audience by querying your users just like the rest of your data.
        </p>
      </li>
    </div>
    <div class="col-xs-4">
      <li class="feature">
        <h4 class="feature-subhead">Easy setup</h4>
        <p class="feature-description">
          Skip the confusion and hassle when setting up push. Just two simple fields for iOS and Android, and you're ready to send!
        </p>
      </li>
    </div>
    <div class="col-xs-4">
      <li class="feature">
        <h4 class="feature-subhead">Increased engagement</h4>
        <p class="feature-description">
          Keep users coming back for more with well-timed reminders for a polished, engaging experience.
        </p>
      </li>
    </div>
  </div>
  {{#link-to 'push-configure' model class="btn btn-primary"}}Configure{{/link-to}}
</div>